/* Title & Logo */

html, body {
    color: #d5d5d5;
    background-color: #000;
}

.hero.is-light, .is-light, pre {
    background-color: #1B2633;
    color: #d5d5d5;
    box-shadow: 0px 0px 7px #000 inset;
}

.footer {
    background-color: #1B2633;
    box-shadow: 0px 0px 7px #000 inset;
}

strong {
    color: #fff;
}

.title, .hero.is-light .title, .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: #fff;
}

a {
    color: #5ECCF3;
}

a:hover {
    color: #5ECCF3;
    text-decoration: underline;
}

em {
    color: #5ECCF3;
}

span.ours-title {
    font-size: 72px;
    font-weight: bold;
}

.publication-links {
    font-size: 0;
}

.publication-links .link-block {
    margin: 0 7px;
}

.button.is-dark {
    background-color: #000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.button.is-dark:hover {
    background-color: transparent;
    background: url("../../static/images/logo_stripes.png");
    background-size: 105% 105%;
    background-position: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

.logo-stripes {
    background: url("../../static/images/logo_stripes.png");
    background-size: 90% 90%;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0); /* Make text fully transparent, so clipped background can show through */
}

.section-title {
    background-color: #1B2633;
    padding: 1.5rem;
    box-shadow: 0px 0px 7px #000 inset
}

#teaser-text {
    font-size: 19px;
    margin: 30px 0;
}

#section-abstract {
    padding-top: 0;
}

#section-abstract .column {
    padding: 30px;
}

.publication-title {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2)
}

#related-links ul {
    list-style: disc;
}


#few-shot-results {
    overflow: hidden;
    padding: 5px;
}

#few-shot-results .slider-item {
    margin-right: 5px;
    padding: 0 50px 20px 50px;
}

#few-shot-results .input-images {
    display: inline-block;
    margin-left: 16.6%;
    width: 83.4%;
    text-align: center;
    color: rgb(94, 204, 243);
}

#few-shot-results .avat3rs {
    font-size: 20px;
    margin-top: -5px;
    display: inline-block;
    width: 83.4%;
    text-align: center;
}

#few-shot-results .driver {
    display: inline-block;
    margin-top: -5px;
    vertical-align: top;
    width:15%;
    text-align: center;
    color: rgb(255, 128, 33);
}

ol#method-overview-list {
    counter-reset: list;
}
ol#method-overview-list > li {
    list-style: none;
}

ol#method-overview-list > li:before {
    content: counter(list) ". ";
    font-weight: bold;
    counter-increment: list;
    position: absolute;
    margin-left: -25px;
}

.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}